In [1]:
import time

In [2]:
def fibo(n):
    if n < 2:
        return n
    
    n_1 = 1
    n_2 = 0
    
    for i in range(n-1):
        result = n_1 + n_2
        n_2 = n_1
        n_1 = result
        
    return result

In [16]:
fibo(8)

21

In [4]:
fibo(0)

0

In [8]:
fibo(4)

3

In [9]:
before = time.time()
result = fibo(300)
after = time.time()
total = after - before
print(result, total)

222232244629420445529739893461909967206666939096499764990979600 0.0002639293670654297

In [13]:
def fibo2(n):
    if n <= 2:
        return 1
    return fibo2(n-1) + fibo2(n-2)

In [15]:
fibo2(8)

21

In [17]:
before = time.time()
result = fibo2(30)
after = time.time()
total = after - before
print(result, total)

832040 0.34504008293151855

In [25]:
n = input('User: ')

if isinstance(n, str):
    try:
        i = int(n)
        print(f'change: {n}:{type(n)} -> {i}:{type(i)}')
    except ValueError:
        print('変換できませんでした。')

User:  7

change: 7:<class 'str'> -> 7:<class 'int'>

In [27]:
print(i+7)

14

In [28]:
print(n+'7')

77

In [35]:
num = 100
n = int(input(f'Number(0~{num}): '))

count = 0
for i in range(num+1):
    if n == i:
        print(count)
        break
    count += 1

Number(0~100):  100

100

In [38]:
import random

In [39]:
nums = [random.random() for i in range(10)]
nums

[0.7006891741077609,
 0.16541809263310525,
 0.03394857338101176,
 0.9002022333580108,
 0.4800729303962107,
 0.3376285657107535,
 0.5611354440215358,
 0.19501871092983647,
 0.054007977003764696,
 0.9234976098668137]

In [40]:
nums = [i**2 for i in range(1, 100) if i % 2 == 0]
nums

[4,
 16,
 36,
 64,
 100,
 144,
 196,
 256,
 324,
 400,
 484,
 576,
 676,
 784,
 900,
 1024,
 1156,
 1296,
 1444,
 1600,
 1764,
 1936,
 2116,
 2304,
 2500,
 2704,
 2916,
 3136,
 3364,
 3600,
 3844,
 4096,
 4356,
 4624,
 4900,
 5184,
 5476,
 5776,
 6084,
 6400,
 6724,
 7056,
 7396,
 7744,
 8100,
 8464,
 8836,
 9216,
 9604]

In [41]:
nums = {1: 'one', 2: 'two', 3: 'three', 4: 'four', 5: 'five'}

for k, v in nums.items():
    print(k, v)

1 one
2 two
3 three
4 four
5 five

In [44]:
nums[1] = 'One'
nums[6] = 'six'
nums

{1: 'One', 2: 'two', 3: 'three', 4: 'four', 5: 'five', 6: 'six'}